<div class="flex flex-col p-5 h-full"> 
    <div class="ml-8">
   <span class="content-heading heading-data "> case studies\whitepapers </span> 
   </div>    
   <div class="ml-8 mt-4">
   <span class="label ">Find All Case Studies →</span>
 </div>
 <div class="flex flex-col p-5   h-full">                        
    <div class="custom-class justify-between p-5 ">
       <div class=" flex content">
          <div>
              <div>
                <img src="../../assets/casestudies.svg" class="enlarged-image" >      
              </div>
            </div>
      </div>
      <div class="flex-container content">
          <div class="flex">
              <span class="content-heading heading-data ">Simple Asset Transfer Between Locations and Depatments </span> 
              </div>
              <div class=" flex  mt-7">
               <li> <span class="data content-data">
                Approval workflows for different types of assets.</span> </li>
               </div>
               <li><span class="data content-data">                    
                Real-time tracking and updates on asset status.</span></li>
      </div>         
     </div>
</div>



       
       
 </div>
 
 