<div class="flex flex-col p-5 h-full">         
    <div class="custom-class justify-between p-5 ">
        <div class=" flex-container content">
         <div class="flex">
           <span class="content-heading heading-data ">{{ dynamicData}} </span> 
           </div>
           <div class="flex ">
               <li> <span class="data content-data">
                Detailed reports for tracking asset tagging, transfers, and allocation.
Industry-specific use cases to meet specific needs.
           </span>  </li>
           </div>
           <li><span class="data content-data">
            Comprehensive reports for audits and compliance.
           </span>  </li> 
       </div>
       <div class="flex content">
       <div >
         <div>
           <img src="../../assets/Exampl1.jpg" class="enlarged-image" >

           <!-- "../../assets/Exampl1.jpg"  -->
         </div>
       </div>
       </div>         
      </div>      
</div>

