<div class="flex flex-col p-2 h-full">
    <div >
      <mat-tab-group>
        <mat-tab >
          <ng-template mat-tab-label>
            <span class="tab-name"><mat-icon class="mat-icon">timeline</mat-icon>Leverage Technology </span>
          </ng-template>
          <!-- <div class="flex">
  
            <div class="whitebbhb"></div>
            <div class="liebhg"></div>
  
          </div> -->
          
          <div class="custom-class justify-between p-5 add-shadow">
             <div class=" flex-container content">
              <div class="flex">
                <span class="content-heading heading-data ">Monitor Assets with Pinpoint Precision. </span> 
                </div>
                <div class="flex ">
                <span class="data content-data mt-5">
                  We enable real-time asset tracking using RFID, barcode, BLE, and IoT technologies. This allows you to monitor asset locations, status, and movements with exceptional accuracy.
                </span> </div>
            </div>
            <div class="flex content">
            <div >
              <div>
                <img src="../../assets/Exampl1.jpg"  class="enlarged-image">

              </div>
            </div>
            </div>         
           </div>
          
        </mat-tab>
      
        <mat-tab >
          <ng-template mat-tab-label>
            <span class="tab-name"><mat-icon class="mat-icon"> directions_run</mat-icon>Introduce Mobility</span>
          </ng-template>
        </mat-tab>
        <mat-tab >
          <ng-template mat-tab-label>
            <span class="tab-name">Build Integrations</span>
          </ng-template>
        </mat-tab>
        <mat-tab >
          <ng-template mat-tab-label>
            <span class="tab-name"> <mat-icon class="mat-icon">verified_user</mat-icon>Ensure Compliance</span>
          </ng-template>
        </mat-tab>
        <mat-tab >
          <ng-template mat-tab-label>
            <span class="tab-name"> <mat-icon class="mat-icon"> show_chart</mat-icon>Use Analytics</span>
          </ng-template>
        </mat-tab>  
      </mat-tab-group>
    </div>
  </div>
  
  