<div class="flex flex-col bottom-botts ">   

        
    <div  class="flex  mt-2  responsive-comp justify-between ml-8">
     
       <div  >
      <img class="icon-size-4 " src="../../assets/assetcueslogo.svg" alt="Logo" >
      </div>
        
      <div class="flex-middle" >
        <button class="menu-buttons flex-middle" (click)="toggleMenu1()">
          <span>Solutions</span>
          <mat-icon>expand_more</mat-icon>
      </button>
      <div class="disablemenu1" *ngIf="isMenuOpen3">
        <div class="flex">
          <div class=" flex-container  content p-3">

            <div class="content2  add-shadow ">
              
             <div class=" ">  
              <div class="bottom-botts-mini">               
               <span class="data ">Product</span> 
               </div>

               <div>
                <span class="mini-data">
                 Here are our cutting edge product                
                </span>    
                 </div>  

                 <div class="mt-4 ">  

                  <span class="data1 "> <mat-icon class="icon-size">trending_up</mat-icon>AssurAsset</span> 
                  </div>

                  <div class="ml-9">
                    <span class="mini-data">
                     Asset tracking and management Solutions                     
                     </span>    
                     </div>         
                     
                     <div class="mt-4 ">  

                      <span class="data1 "> <mat-icon class="icon-size">trending_up</mat-icon>AssurAsset</span> 
                      </div>
  
                      <div class="ml-9">
                        <span class="mini-data">
                         Asset tracking and management Solutions                     
                         </span>    
                         </div>   
                         
                         <div class="mt-4 ">  

                          <span class="data1 "> <mat-icon class="icon-size">trending_up</mat-icon>AssurAsset</span> 
                          </div>
      
                          <div class="ml-9">
                            <span class="mini-data">
                             Asset tracking and management Solutions                     
                             </span>    
                             </div>         
               </div>
               </div>
           </div>

           <div class=" flex-container  content p-3 mr-4">

            <div class="content2  add-shadow ">
              
             <div class=" ">  
              <div class="bottom-botts-mini">               
               <span class="data ">services</span> 
               </div>

               <div>
                <span class="mini-data">
                 leading in assets management services                
                </span>    
                 </div>  

                 <div class="mt-4 ">  

                  <span class="data1 "> <mat-icon class="icon-size">trending_up</mat-icon>Outsourced fixed Assets Management</span> 
                  </div>

                  <div class="ml-9">
                    <span class="mini-data">
                    Lorem Ipsum  
                   </span>    
                     </div>         
                     
                     <div class="mt-4 ">  

                      <span class="data1 "> <mat-icon class="icon-size">trending_up</mat-icon>Physical Verification Of Assets</span> 
                      </div>
  
                      <div class="ml-9">
                        <span class="mini-data">
                        Lorem ipsum dolar                    
                             </span>    
                         </div>   
                         
                         <div class="mt-4 ">  

                          <span class="data1 "> <mat-icon class="icon-size">trending_up</mat-icon>preparation of fixed Assets Register</span> 
                          </div>
      
                          <div class="ml-9">
                            <span class="mini-data">
Lorem Ipsum dolar                               </span>    
                             </div>         
               </div>
               </div>
           </div>
           <div class=" flex-container  content p-3 ">

            <div class="content2  add-shadow ">
              
             <div class=" ">  
              <div class="bottom-botts-mini">               
               <span class="data ">Industry</span> 
               </div>

               <div>
                <span class="mini-data">
Explore asset tracking in following industries                  </span>    
                 </div> 
                 <div class="flex"> 
                 <div>
                 <div class="mt-4 ">  

                  <span class="data1 "> <mat-icon class="icon-size">laptop</mat-icon>Manufacturing Industry</span> 

                  
                  </div>

                  
                     <div class="mt-2 " >  

                      <span class="data1 "> <mat-icon class="icon-size">laptop</mat-icon>pharma and Healthcare</span> 
                      </div>
  
                      
                         
                         <div class="mt-2 ">  

                          <span class="data1 "> <mat-icon class="icon-size">laptop</mat-icon>IT/ITES/BPO Indusrty</span> 
                          </div>
      
                          <div class="mt-2 ">  
                            <span class="data1 "> <mat-icon class="icon-size">laptop</mat-icon>Automobile Industry</span> 
                            </div>

                            <div class="mt-2 ">  
                              <span class="data1 "> <mat-icon class="icon-size">laptop</mat-icon>BFSI Industry</span> 
                              </div>

                              <div >  
                                <span class="data1 "> <mat-icon class="icon-size">laptop</mat-icon>Media and Entertainment Industry</span> 
                                </div>

                                <div >  
                                  <span class="data1 "> <mat-icon class="icon-size">laptop</mat-icon>Logistic Industry</span> 
                                  </div>
        
                          
                             </div>
                        
                             <!-- ////////////////////////////////////////////////////////// -->

                             <div class="ml-5">
                              <div class="mt-4 ">  

                                <span class="data1 "> <mat-icon class="icon-size">laptop</mat-icon>Startups</span> 
            
                                
                                </div>
            
                                
                                   <div >  
            
                                    <span class="data1 "> <mat-icon class="icon-size">laptop</mat-icon>chemical and processing</span> 
                                    </div>
                
                                    
                                       
                                       <div >  
            
                                        <span class="data1 "> <mat-icon class="icon-size">laptop</mat-icon>hotel industry</span> 
                                        </div>
                    
                                        <div >  
                                          <span class="data1 "> <mat-icon class="icon-size">laptop</mat-icon>Retail and Resturant chains</span> 
                                          </div>
            
                                          <div >  
                                            <span class="data1 "> <mat-icon class="icon-size">laptop</mat-icon>EPC Industry</span> 
                                            </div>
            
                                            <div >  
                                              <span class="data1 "> <mat-icon class="icon-size">laptop</mat-icon>service Indusrty</span> 
                                              </div>
            
                                              
                      
                                          </div>

                                          </div>

                             <!-- ///////////////////////////////////////////////////////////////// -->
               </div>
               </div>
           </div>
          

           </div>
      </div>
          <button class="menu-buttons ml-4" routerLink="/pricing">Pricing</button>
          <button class="menu-buttons ml-4" routerLink="/resources">Resources</button>
          <button class="menu-buttons ml-4" routerLink="/about">About Us</button>
      </div>        
          <div class=" flex mr-1">
            <button type="button" class="nav-button1">sign in</button> 
          <button type="button" class="nav-button2">Schedule Demo</button> 
           </div>  
      </div>
    <div  class="hamburger-menu-button">
      <div>
          <div  class="m-2" >
              <img class="responsiveimage" src="../../assets/assetcueslogo.svg" alt="Logo" >
              </div>
      </div>
      <div>
          <button (click)="toggleMenu()">
              <mat-icon class="icon-size-2 m-2">menu</mat-icon>
          </button>
      </div>
    </div>
      
      <div class="drawer-container" [ngClass]="{'open': isMenuOpen}">
          <div class=" menuitems  disablemenu">
              <button class="flex"  ><span>Solutions</span> <mat-icon>expand_more</mat-icon></button>
              <button  routerLink="/contact">Pricing</button>
              <button  routerLink="/about">Resources</button>
              <button  routerLink="/about">About Us</button>
          </div>
      </div>
      

      </div>
      

  

      
