<div class="flex flex-col p-2 h-full">
<div class="flex flex-col p-5 h-full mt-4">         
    <div class="custom-class justify-between p-5 ">
        <div class=" flex-container content">
         <div class="flex">
          
           <span class="content-heading heading-data "> Leverage Barcodes for Asset Management </span> 
           </div>

          
           <div class=" flex mt-6">
                <span class="data content-data">
                  Elevate your fixed asset inventory and tracking by leveraging barcode and smart phone technology for unparalleled efficiency and control.           </span>  
           </div>
           <div class="mt-40">
           <button  class="example-button-row p-5 ">
            Schedule Demo
          </button>
</div>
       </div>
       <div class="flex content1">
       <div >
         <div>
           <img src="../../assets/scheduledemo2.svg" class="enlarged-image" >

           <!-- "../../assets/Exampl1.jpg"  -->
         </div>
       </div>
       </div>         
      </div>      
</div>
</div>

