<app-header></app-header>
<section id="author">
    <div id="homeimage" >
        <img style="width: 500px ; height: 300px; border-radius: 10px; "  src="assets/image2.PNG" alt=""></div>
    <div class="">
    <h2 id="h11">Title Of The Blog <br> Article</h2>
    <p id="p1">Lorem ipsum dolor sit Totam esequatur quo, ipsa qui porro, molesiu
    Possimus qui id eiuslitia commodi. <br><br>Author: Name</p>
</div>
</section>

<div id="tableheader">Table Of Contents</div>
<div id="table" style="text-decoration: none; font-weight: 50;">
    <a id="font" href="#Heading1">Heading 2<br/></a>
    <a id="font" href="#Heading2">Heading 2<br/></a>
    <a href="#Heading3">• Heading 3<br/></a>
    <a href="#Heading4">• Heading 3<br/></a>
    <a id="font" href="#Heading5">Heading 2<br/></a>
    <a href="#Heading6">• Heading 3<br/></a>
    <a href="#Heading7">• Heading 3<br/></a>
    <a href="#Heading8"> • Heading 3<br/></a>
    <a id="font" href="">Heading 2<br/></a>
    <a href=""> • Heading 3<br/></a>
    <a href=""> • Heading 3<br/></a>
</div>

<section id="Heading1">
<div id="content">
    Porem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin lacus, ut interdum tellus elit sed risus. <br/>
    <br/>Maecenas eget condimentum velit, sit amet feugiat lectus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent auctor purus luctus enim egestas, ac scelerisque ante pulvinar.
    <br/>
    <br/>Donec ut rhoncus ex. Suspendisse ac rhoncus nisl, eu tempor urna. Curabitur vel bibendum lorem. Morbi convallis convallis diam sit amet lacinia. Aliquam in elementum tellus.
    <br/>Curabitur tempor quis eros tempus lacinia. Nam bibendum pellentesque quam a convallis. Sed ut vulputate nisi. Integer in felis sed leo vestibulum venenatis. Suspendisse quis arcu sem. Aenean feugiat ex eu vestibulum vestibulum. Morbi a eleifend magna. <br/>
    <br/>Nam metus lacus, porttitor eu mauris a, blandit ultrices nibh. Mauris sit amet magna non ligula vestibulum eleifend. Nulla varius volutpat turpis sed lacinia. <br/><br/><br/>


</div>
</section>
<section id="Heading2" >
    <div id="Content2">
        <p style=" font-size: 23px; font-family:Poppins dark;">Expand On The Product Features</p>
   Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum quasi eligendi perspiciatis maiores, quis nulla vitae esse id vero eaque obcaecati labore repellendus nihil assumenda culpa saepe unde accusantium ipsa!
   Obcaecati corporis voluptates, consequatur nesciunt, ratione quam reiciendis, at dicta ipsa nostrum recusandae unde quae sit perferendis blanditiis alias! Sit reprehenderit a numquam commodi quidem placeat accusamus labore provident asperiores?
   Nam, sint? Adipisci, praesentium, facere consequatur voluptates rerum quae corrupti hic ad qui dicta aut aliquam magnam nemo id porro totam? Quam delectus doloremque odit fuga totam. Fuga, qui obcaecati?
   A officia quo sapiente inventore repellat, repudiandae distinctio obcaecati quam commodi alia <br><br> sit nihil dolorum suscipit aperiam corrupti minima. Placeat laborum voluptatibus impedit eum quasi sapiente pariatur? Amet, sapiente dolorum?
   Rem, impedit nobis fugiat nulla facilis sunt eveniet, repudiandae deserunt aperiam quis, sequi odit atque! Quisquam eligendi magnam, debitis commodi incidunt laborum iusto eos, harum sit in suscipit numquam aliquid?
   Consequuntur nostrum ea placeat sapiente minus labore recusandae veniam adipisci ipsa nihil dolore mollitia <br><br> laudantium ex provident quod blanditiis suscipit, qui natus quas impedit. Dolorum omnis inventore aliquam ipsam.
   Illum quas eum sint molestiae facere repellat impedit! Magni sint excepturi id modi ratione harum tempora veritatis laborum recusandae quas! Perspiciatis iste nam iusto? Temporibus beatae architecto at dicta quibusdam?
    </div>
</section>

<section id="Heading3">
    <div id="Content3">
        Ipsa perspiciatis doloremque nulla ratione sequi cum doloribus impedit perferendis!<br>
        • Lorem ipsum dolor sit amet consectetur adipisicing elit <br>• Tenetur asperiores ipsum assumenda libero nihil at alias
        <br>• Tenetur asperiores ipsum assumenda libero nihil at alias
    </div>
 </section>
 <section id="Heading4">
    <div id="Content4">
        <img style="width: 550px; height: 300px; border-radius: 15px; " src="assets/image2.PNG" alt="img">
        <br>
         <br>
         <br></div>
         <div id="imageafter">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor cupiditate est temporibus, deleniti, molestiae maiores reprehenderit, obcaecati amet explicabo quidem eaque ducimus voluptate quam perspiciatis voluptates quaerat totam recusandae pariatur?
         Expedita, reiciendis ipsum necessitatibus maxime ad, asperiores commodi soluta voluptates tenetur eaque iure, modi ipsa accusamus debitis perspiciatis numquam saepe! Deleniti, dolorum error quaerat quo adipisci labore vero possimus. Quidem.
         Exercitationem dolores modi nihil odio nam aspernatur eum esse. Maxime deleniti labore quis accusantium ea expedita explicabo iure eum alias, voluptatem dolorem molestias provident voluptas vero ducimus atque quas minus.
        </div>
    </section>

    <section id="Heading5">
        <div id="Content5">
            <p id="p2">Nullam Dictum tellus tincidunt</p>
       Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum quasi eligendi perspiciatis maiores, quis nulla vitae esse id vero eaque obcaecati labore repellendus nihil assumenda culpa saepe unde accusantium ipsa!
       Obcaecati corporis voluptates, consequatur nesciunt, ratione quam reiciendis, at dicta ipsa nostrum recusandae unde quae sit perferendis blanditiis alias! Sit reprehenderit a numquam commodi quidem placeat accusamus labore provident asperiores?
       Nam, sint? Adipisci, praesentium, facere consequatur voluptates rerum quae corrupti hic  <br><br> sit nihil dolorum suscipit aperiam corrupti minima. Placeat laborum voluptatibus impedit eum quasi sapiente pariatur? Amet, sapiente dolorum?
       Rem, impedit nobis fugiat nulla facilis sunt eveniet, repudiandae deserunt aperiam quis, sequi odit atque! Quisquam eligendi magnam, debitis commodi incidunt laborum iusto eos, harum sit in suscipit numquam aliquid?
       Consequuntur nostrum ea placeat sapiente minus labore recusandae veniam adipisci ipsa nihil dolore mollitia <br><br>
        </div>
    </section>

    <section id="Heading6">
        <h2  id="newsletter" style="text-align: center; margin-top: 50px; font-family: Poppins dark; font-size: 20px;"  > <br> Subscribe To Our Newsletter</h2>
        <div id="Content6">

            <input id="inputemail" type="text" placeholder="Enter Email Address">
            <button id="emailbutton" >Subscribe</button>
        </div>
       </section>

       <section id="Heading7">
        <div id="Content7">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate velit vero temporibus pariatur eius doloremque voluptate quia sed nulla sit. Magni eum nemo excepturi quam expedita voluptatibus! Corporis, qui dolore!
            Culpa delectus maxime eos, reprehenderit pariatur? At.
            Quis asperiores tempore, itaque nemo perferendis, quaerat consectetur sint cupiditate recusandae iure voluptatem, dolorem maiores. Totam aperiam, at praesentium officia. <br><br><br>
            Labore ipsa, id repellendus fugiat minus eum quaerat cupiditate voluptate atque vero aspernatur consequuntur nulla! Nam quidem illum repellat provident, dolore asperiores!
            Placeat eum quo, in rem quod veritatis fuga excepturi! Assumenda laudantium totam quibusdam mollitia corrupti natus, ut dignissimos soluta quia perspiciatis, cupiditate suscipit distinctio dicta placeat laboriosam deserunt minima cu<br><br><br>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia, enim ab! Reiciendis quidem provident doloribus, officia officiis numquam distinctio vitae saepe nesciunt animi magni. Excepturi ullam sunt rem nihil esse.
            Tenetur mollitia ipsa libero veniam, quibusdam at. Reprehenderit, <br>
        </div>
       </section>

       <section id="Heading8 ">
        <h4>Learn More About Fixed Assset Management</h4>
        <div id="Content11">
        <div id="Content8">
            <img style=" border-radius: 10px; height: 210px; width: 350px  " src="assets/image2.PNG" alt="">
            <p style="font-weight: bold; margin-top: 5px;" >Name Of The Blog <br> Article</p>
            <p style="font-size: 15px;font-family: Poppins dark;" >Lorem ipsum dolor sit <br> amet consectetur quisquam tempora <br> Natus aliquam</p>
        </div>
        <div id="Content9">
            <img style=" border-radius: 10px; height: 210px; width: 350px  " src="assets/image2.PNG" alt="">
            <p style=" font-weight: bold;margin-top: 5px;" >Name Of The Blog <br> Article</p>
            <p style="font-size: 15px;font-family: Poppins dark;" >Lorem ipsum dolor sit <br> amet consectetur quisquam tempora <br> Natus aliquam</p>
        </div>
        <div id="Content10">
            <img style=" border-radius: 10px; height: 210px; width: 350px  " src="assets/image2.PNG" alt="">
            <p style="font-weight: bold; margin-top: 5px;">Name Of The Blog <br> Article</p>
            <p style="font-size: 15px;font-family: Poppins dark;" >Lorem ipsum dolor sit <br> amet consectetur quisquam tempora <br> Natus aliquam</p>
        </div>
    </div>
       </section>

