<div class="flex flex-col p-5 h-full">                        
    <div class="custom-class justify-between p-5 ">
       <div class=" flex content">
          <div>
              <div>
                <img src="../../assets/Exampl1.jpg" class="enlarged-image " >      
              </div>
            </div>
      </div>
      <div class="flex-container content">
        <div class="flex">
            <span class="label ">Managed Services </span> 
            </div>
          <div class="flex">
              <span class="content-heading heading-data ">{{dynamicData}}</span> 
              </div>
              <div class=" flex  mt-7">
               <span class="data content-data">
                We'll help establish your fixed asset management Operations from initial setup & implementation to ongoing maintenance and enhancements.</span> 
               
               </div> 
               <a href="#" class="button   mt-10">Learn More →</a>             
      </div>         
     </div>
</div>


