<div class="flex flex-col p-5 h-full"> 
    <div class="text-center">
   <span class=" heading-data  "> Our software Seamlessly integrates with your existing ERP </span> 
   </div> 
   <div class="padding">   
     <div class="custom-class justify-between  ">
         <div class=" flex-container content p-5">
 
         <div class="content2 ">           
           
           <div>
            <img src="../../assets/sap.svg" class="enlarged-image" >
 
          </div> 
          
            </div>
        </div>
        <div class=" flex-container content p-5">
 
            <div class="content2 ">
   
               
              
              <div>
               <img src="../../assets/oracle.svg" class="enlarged-image" >
    
             </div> 
             
               </div>
           </div>
           <div class=" flex-container content p-5">

 
            <div class="content2 ">
   
             
              <div>
               <img src="../../assets/micro.svg" class="enlarged-image" >
    
             </div> 
             

              
             

               </div>
           </div> 
           <div class=" flex-container content p-5 ">
 
            <div class="content2 ">
   
               
              
              <div>
               <img src="../../assets/sage.svg" class="enlarged-image" >
    
             </div> 
             
               </div>
           </div>
           <div class=" flex-container content p-5 ">
 
            <div class="content2 ">
   
               
              
              <div>
               <img src="../../assets/fresh.svg" class="enlarged-image" >
    
             </div> 
             
               </div>
           </div>
       </div>
       
       <div class="custom-class justify-between padding ">
        <div class=" flex-container content p-5">

        <div class="content2 ">

          
          
          <div>
           <img src="../../assets/jde.svg" class="enlarged-image" >

         </div> 
         
           </div>
       </div>
       <div class=" flex-container content p-5">

           <div class="content2 ">
  
             
             
             <div>
              <img src="../../assets/manageengine.svg" class="enlarged-image" >
   
            </div> 
            
              </div>
          </div>
          <div class=" flex-container content p-5">

           <div class="content2 ">
  
              
             <div>
              <img src="../../assets/servicenow.svg" class="enlarged-image" >
   
            </div> 
            
              </div>
          </div> 
          <div class=" flex-container content p-5">

           <div class="content2 ">
  
             
             
             <div>
              <img src="../../assets/bmc.svg" class="enlarged-image" >
   
            </div> 
            
              </div>
          </div>
      </div>
       
      <div class="last-label padding">Check All Our Integrations →</div>
 </div>
 
 </div>