<app-header></app-header>
<section class="conten">
    <div class="lefter">
        <div class="gain">
            <p class="gain-total">Biotech Industry Insight</p>
            <p class="gain-total-next">Norem ipsum dolor sit amet, consectetur adipiscing elit., mattis tellus.</p>
            <button >Book a Demo!</button>
        </div>
    </div>
    <div class="try_dem">
        <!-- <iframe width="420" height="315" src="https://www.youtube.com/watch?v=_PsOQlEV5DM&t=5s"></iframe> -->
        <img [src]="'../assets/img3.jpg'">
    </div>
</section>

<section>
    <div class="maindiv">
        <div class="hero">
           <h2>Never Lose Track of <br>Your Assets Again.</h2><br>
            <p> Effortless Asset Tracking</p>
            <p>Streamlined Asset Allocation</p>
            <p>Seamless Asset Transfers</p>
            <p>Efficient Asset Retirement</p><br><br>
            <button class="header-button try_for_free">Book a Demo</button><br><br><br><br><br>
              <section class="testimonials">
                 <h2>Rated ⭐ 4.8 on <a href="#">Capterra</a></h2>
              </section>
        </div>
         <div class="m2">
          <img id="iI1" src="/assets/Untitled.png" alt="">
          <img id="i2" src="/assets/re.png" alt="">
         </div>
    </div>





<section class="sec">
  <div class="row">
    <div class="col-md-6">
      <div class="testimonial-item">
        <img src="/assets/ic.png" alt="AssetCues logo">
        <div class="testimonial-content">
          <p>1 Million +<br>
            Assets Managed.</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="testimonial-item">
        <img src="/assets/ic.png" alt="ABC Pharmaceuticals logo">
        <div class="testimonial-content">
          <p>100,000 +<br>
            Audits Conducted</p>
        </div>
      </div>
    </div>
  </div>
<br>
  <div class="row">
    <div class="col-md-6">
      <div class="testimonial-item">
        <img src="/assets/ic.png" alt="1 Million + Assets Managed logo">
        <div class="testimonial-content">
          <p>98% Compliance <br> Achieved</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="testimonial-item">
        <img src="/assets/ic.png" alt="100,000 + Audits Conducted logo">
        <div class="testimonial-content">
          <p>30% Average ROI <br> Generated</p>
        </div>
      </div>
    </div>
  </div>
<br><br><br>
<!-- ******TESTOMINAL********** -->
<div class="c2">
  <img  id="i111" src="/assets/Quote.png" alt="">
  <div class="cont"><br>
    <h6>AssetCues has been an invaluable asset to our asset <br>  management strategy. As the CFO of ABC  <br>Pharmaceuticals, I've witnessed remarkable <br>improvements in efficiency and ROI.</h6>
  </div>
  <div class="log">
    <img src="/assets/ic.png" alt="">
    <p>John Doe,<br>
    CEO ABC <br>
     Pharmaceuticals</p>
  </div>
</div>
</section>





        <br><br><br>
       <p id="p1">End-to-End Features for<br> <br>Seamless Asset Management</p><br>
  <div class="container">
    <div class="left-div">
       <h2 id="h1">Effortless Asset <br><br>Tracking and<br> <br>Allocation</h2> <br>
       <ul id="i1">
      <li>Real-time Asset Tracking.</li>
       <li> Asset Allocation - Temporary and Permanent.</li>
        <li>Asset Tagging for Easy Identification.</li>
        <li>WFH Asset Management.</li>
       </ul>

    </div>
    <div class="right-div"><br>

      <img src="assets/Untitled.png" alt="End-to-End Features for Seamless Asset Management">
    </div>
  </div><br><br><br><br>

  <div class="container">
    <div class="right-div"><br>
      <img src="assets/Untitled.png" alt="End-to-End Features for Seamless Asset Management">
    </div>
    <div class="left-div">
       <h2 id="h1">Simple Asset Transfer Between Locations &  Departments.</h2><br>
       <ul id="i1">
      <li>Approval workflows for different types of assets.</li>
       <li>Real-time tracking and updates on asset status.</li>
       </ul>
    </div>

  </div><br><br><br><br>
  <div class="container">
    <div class="left-div">
       <h2 id="h1">Smooth Transition to Retirement</h2>  <br>
       <ul id="i1">
      <li>Initiation based on asset lifecycle and approval stages</li>
       <li>Detailed retirement types and accurate recording of asset value.</li>
       </ul>
    </div>
    <div class="right-div"><br>
      <img src="assets/Untitled.png" alt="Image">
    </div>

  </div><br><br><br><br>

  <div class="container">
    <div class="right-div">
      <img src="assets/Untitled.png" alt="Image">
    </div>
    <div class="left-div">
       <h2 id="h1">Accurate Calculation of Asset Depreciation</h2>  <br>
       <ul id="i1">
      <li>Customizable depreciation methods for your unique needs.</li>
       <li>Generate comprehensive reports for accounting purposes.</li>
       </ul>
    </div>
  </div>

  <div class="container">
    <div class="left-div">
       <h2 id="h1">Asset Verification and Reporting</h2>  <br>
       <ul id="i1">
      <li>Detailed reports for tracking asset tagging, transfers, and allocation.</li>
       <li>Industry-specific use cases to meet specific needs.</li>
       <li>Comprehensive reports for audits and compliance.</li>
       </ul>
    </div>
    <div class="right-div"><br>
      <img src="assets/Untitled.png" alt="End-to-End Features for Seamless Asset Management">
    </div>

  </div><br><br><br><br><br>

  <div class="container">
    <div class="right-div"><br>
      <img src="assets/Untitled.png" alt="End-to-End Features for Seamless Asset Management">
    </div>
    <div class="left-div">
       <h2 id="h1">Physical Asset Management</h2>  <br>
       <ul id="i1">
      <li>Smooth disposal processes and tracking of disposed assets.</li>
       <li>Error-free retrieval of assets, ensuring the retirement process is accurate.</li>
       <li>Detailed synchronization of asset  data with your ERP system.</li>
       </ul>
    </div>
  </div><br><br>




  <!-- *****************************************JOIN OUR COMMUNITY -->
  <div class="containerl">
    <div class="left-div"><br><br><br>
      <h2 ><a id="j1" href="">Join Our Community</a></h2><br>
      <h2>Learn More About AssureAsset’s Awesome Capabilities.</h2><br>
      <p>Transform your asset <br> management with insights gained.</p>
      <button class="subscribe-button">Subscribe</button>
    </div>
    <div class="right-div"><br><br><br>
      <img src="assets/Untitled.png" alt="Image">
    </div>
  </div>
  <!-- ************ -->

</section>
