<div class="flex flex-col p-2 h-full">
<!-- <nav class="nav nav a nav a.active">
    <a routerLink="/home" routerLinkActive="active" >Home</a>
    <a routerLink="/about-us" routerLinkActive="active">About Us</a>
    <a routerLink="/contact-us" routerLinkActive="active">Contact Us</a>
</nav> -->

<nav class="nav">
    <!-- Original links -->
    <a routerLink="/home" routerLinkActive="active">product</a>
    <a routerLink="/about-us" routerLinkActive="active">solutions</a>
    <a routerLink="/contact-us" routerLinkActive="active">pricing</a>
    <a routerLink="/contact-us" routerLinkActive="active">Resources</a>
    <a routerLink="/contact-us" routerLinkActive="active">About Us</a>
      <button  class="example-button-row p-3">
       Subscribe
     </button>
    


</nav>

<div class="flex flex-col p-5 h-full mt-4">         
    <div class="custom-class justify-between p-5 ">
        <div class=" flex-container content">
         <div class="flex">
          
           <span class="content-heading heading-data "> Automate Asset Audits </span> 
           </div>

           <div class="flex mt-5">          
            <span class="data1 "> 
              Maximize asset data Integrity </span> 
            </div>

           <div class="flex mt-4 ">
                <span class="data content-data">
                    Achieve greater audit efficiency, accuracy, and cost savings with our automation solutions
           </span>  
           </div>

       </div>
       <div class="flex content1">
       <div >
         <div>
           <img src="../../assets/Exampl1.jpg" class="enlarged-image" >

           <!-- "../../assets/Exampl1.jpg"  -->
         </div>
       </div>
       </div>         
      </div>      
</div>
</div>

