<div class="flex flex-col p-5 h-full"> 
    <div class="text-center">
   <span class=" heading-data  "> Trusted by leading global enterprises</span> 
   </div> 
   <div class="padding">   
     <div class="custom-class justify-between  ">
         <div class=" flex-container content p-3">
 
         <div class="content2 ">           
           
           <div>
            <img src="../../assets/abot.svg" class="enlarged-image" >
 
          </div> 
          
            </div>
        </div>
        <div class=" flex-container content p-3">
 
            <div class="content2 ">
   
               
              
              <div>
               <img src="../../assets/jd.svg" class="enlarged-image" >
    
             </div> 
             
               </div>
           </div>
           <div class=" flex-container content p-3">

 
            <div class="content2 ">
   
             
              <div>
               <img src="../../assets/rled.svg" class="enlarged-image" >
    
             </div> 
             

              
             

               </div>
           </div> 
           <div class=" flex-container content p-3 ">
 
            <div class="content2 ">
   
               
              
              <div>
               <img src="../../assets/gap.svg" class="enlarged-image" >
    
             </div> 
             
               </div>
           </div>
           <div class=" flex-container content p-3 ">
 
            <div class="content2 ">
   
               
              
              <div>
               <img src="../../assets/sun.svg" class="enlarged-image" >
    
             </div> 
             
               </div>
           </div>
       </div>
       
       <div class="custom-class justify-between padding ">
        <div class=" flex-container content p-5">

        <div class="content2 ">

          
          
          <div>
           <img src="../../assets/sun.svg" class="enlarged-image" >

         </div> 
         
           </div>
       </div>
       <div class=" flex-container content p-5">

           <div class="content2 ">
  
             
             
             <div>
              <img src="../../assets/sun.svg" class="enlarged-image" >
   
            </div> 
            
              </div>
          </div>
          <div class=" flex-container content p-5">

           <div class="content2 ">
  
              
             <div>
              <img src="../../assets/sun.svg" class="enlarged-image" >
   
            </div> 
            
              </div>
          </div> 
          <div class=" flex-container content p-5">

           <div class="content2 ">
  
             
             
             <div>
              <img src="../../assets/sun.svg" class="enlarged-image" >
   
            </div> 
            
              </div>
          </div>
          <div class=" flex-container content p-5">

            <div class="content2 ">
   
              
              
              <div>
               <img src="../../assets/sun.svg" class="enlarged-image" >
    
             </div> 
             
               </div>
           </div>
      </div>

      <div class="custom-class justify-between padding ">
        <div class=" flex-container content p-5">

        <div class="content2 ">

          
          
          <div>
           <img src="../../assets/sun.svg" class="enlarged-image" >

         </div> 
         
           </div>
       </div>
       <div class=" flex-container content p-5">

           <div class="content2 ">
  
             
             
             <div>
              <img src="../../assets/sun.svg" class="enlarged-image" >
   
            </div> 
            
              </div>
          </div>
          <div class=" flex-container content p-5">

           <div class="content2 ">
  
              
             <div>
              <img src="../../assets/sun.svg" class="enlarged-image" >
   
            </div> 
            
              </div>
          </div> 
          <div class=" flex-container content p-5">

           <div class="content2 ">
  
             
             
             <div>
              <img src="../../assets/sun.svg" class="enlarged-image" >
   
            </div> 
            
              </div>
          </div>
          <div class=" flex-container content p-5">
s
            <div class="content2 ">
   
              
              
              <div>
               <img src="../../assets/sun.svg" class="enlarged-image" >
    
             </div> 
             
               </div>
           </div>
      </div>
       
 </div>
 
 </div>