@import '../../../styles.scss';


.nav {
    background-color: #b9b5b5; /* Background color of the navigation bar */
    padding: 10px; /* Padding around the navigation links */

}

.nav a {
    color: #fff; /* Text color of the navigation links */
    text-decoration: none; /* Remove underline from the links */
    margin-left: 50px; /* Spacing between the links */

}

/* Active state styles */
nav a.active {
    font-weight: bold; /* Make the active link bold */
}








.heading-data{   
  font-family:  'roboto';
  font-weight: 500;
    font-size: 22px;
    line-height: 40px;
    text-align: center;
    color: #000000;
    height: 10%;
  }

  .tab-name{
    font-family: 'roboto';
    // font-weight: 400px;
    //  color: #1691F6;
    font-size: 15px;

    }

  .image-container{
    width:529px;
    height:390px;
    top:3207px;
    left:116px; 
     margin: 20px;
    // border: 1px solid #ddd;
    //  border-radius: 200px ;
    

  }

.data{   
  font-family: 'roboto';
    font-weight: 500;
    font-size: 20px;
    line-height:28px ;
    color: #0A2134;
    height: 20%;
    font-size: 16px;
  }

  .data1{   
    font-family: 'roboto';
      font-weight: 600;
      font-size: 25px;
      line-height:28px ;
      color: #0A2134;
    }

    .data2{   
        font-family: 'roboto';
          font-weight: 600;
          font-size: 25px;
          line-height:28px ;
          color: #50C878;
        }

  

  ::ng-deep .mat-mdc-tab.mdc-tab {
    height: 60px !important;
  }

::ng-deep.mat-mdc-tab:not(.mdc-tab--stacked) {
  background-color: #f9fafaf6 !important; 
  margin-top: 10px !important;
  color: #1691F6;
  --mat-tab-header-inactive-label-text-color: #1691F6;
  --mat-tab-header-inactive-focus-label-text-color:#1691F6;
  --mat-tab-header-inactive-hover-label-text-color:#1691F6;
  --mat-tab-header-inactive-ripple-color : none;
}

::ng-deep.mat-mdc-tab:not(:not(.mdc-tab--active)) {
   background-color: #ffffff9a !important; 
  margin-left: 5px !important;
  margin-top: 10px !important;
  margin-right: 5px !important;
  box-shadow: 0px 0px 7px 3px rgb(232, 235, 236) !important;
  // color: #3b3a3a;
  --mat-tab-header-active-label-text-color:#292D32;
  --mat-tab-header-active-hover-label-text-color:#292D32;
  --mat-tab-header-active-focus-label-text-color: #292D32;
  --mat-tab-header-active-ripple-color : none;

}
.add-shadow{
  box-shadow: 0px 0px 7px 3px rgb(232, 235, 236) !important;
  // box-shadow: 0px 0px 10px 5px !important;
  margin-left: 7px !important;
  margin-bottom: 11px !important;
  margin-right: 7px !important;
  
  
}

::ng-deep.mat-mdc-tab-header {
  --mdc-tab-indicator-active-indicator-height:0px !important;
}

// .liebhg{
//   color: #e5e9f0; 
//   width: 80%;
//   height: 1px  ;
//   background: #e5e9f0;
//   box-shadow: 0px 0px 10px 5px !important;

// }
// .whitebbhb{
//   margin-left: 5px;
//   color: #ffffff; 
//    width: 295px;
//   height: 2px  ;
//   background: #ffffff;
// }



// laptop screen
@media only screen and (max-height: 610px) {
  .underdata{
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    height: 900px; 
    display: block;
  }
}

.custom-class{
  display: flex;
}

// Mobile devices
@media only screen and (min-width: 320px) and (max-width: 480px)  {
  .custom-class{
    display: block;
  }

  .content{
    width: 100% !important;
    // padding-left: 50px;
    // padding-top: 30px;
  }
}

// iPads/Tablets 
@media only screen and (min-width: 481px) and (max-width: 768px) {

  .custom-class{
    display: block;
  }
  .content{
    width: 100% !important;
    // padding-left: 50px;
    // padding-top: 30px;
  }
}

// .content-data{
//    height: 20%;
//     font-size: 16px;
// }

// .content-heading{ 
//    height: 10%;
// }

.content{
  width: 70%;
//   padding-left: 10px;
//   padding-top: 30px;
  
}

.content1{
    width: 50%;
    // padding-left: 20px;
    // padding-top: 10px;
    
  }

.mat-icon {
  height: 17px;
  width: 40px;

}

.enlarged-image {
  width: 350px; 
  height: 350px; 
//   border-radius: 30px;
}

.example-button-row {
//   margin-right: 8px;
  background-color: #1691F6;
  color: #ffffff;
    display: flex;
    height: 38px;
    width: 13%;
    justify-content: center;
    gap: 8px;
    flex-shrink: 0;
     border-radius: 5px;
    align-items: center;
    font-family:  'roboto';
    font-size: 18px;
    line-height: 25px;
    padding-left: 25px;
    padding-right: 25px;
    margin-right: 20px;

}

.background{

    background-color: #E6F4F1;
}

.content2{
    width: 25%;   
    //   border: 1px solid #2c2b2b;
    height: 95%; 
    // border-right: 1px solid;

  }

  .text-size{

    font-family: 'roboto';
    font-weight: 600;
    font-size: 20px;
    line-height:28px ;
    color: #0A2134;
    height: 20%;
    font-size: 16px;

  }

  .input-email {
    /* Add your styling properties here */
    width: 450px;
    
     padding: 12px;
    border: 1px solid #1691F6;
    border-radius: 8px;
    font-size: 16px;
    margin-bottom: 10px;
    color: #CAC4D0;
  }

  .last-text-size{

    font-family: 'roboto';
    font-weight: 500;
    font-size: 12px;
    line-height:20px ;
    color: #0A2134;
    height: 20%;
    

  }
