
<div class="flex flex-col p-2 h-full mt-12 background">
    
    
    <div class="flex flex-col p-3 h-full mt-4">         
        <div class="custom-class justify-between pq21-3 ">

            <div class="flex content2">
                <div>
                  <div>
                    <img src="../../assets/cutomerspace.svg" class="enlarged-image">                    
                  </div>
                </div>
                </div> 

            <div class=" flex-container content">
             <div class="flex">
              
               <span class=" heading-data "> Not ready yet? We fully appreciate.</span> 
               </div>
    
               <div class="flex mt-3">          
                <div class="flex mt-2"><span class="data"> You can still   <span class="data1"> subscribe to <span class="data2"> updates </span> from AssetCues and remain connected </span> <span class="data">  with us. </span> </span></div>

                </div>
    
              

               <div class="flex mt-20 ">
                
            <input type="email"  name="email"  class="input-email" placeholder="Your email id...">
 
            <button  class="example-button-row p-5 ml-5">
                Subscribe
              </button>

           </div>
           <div class="flex  ">
            <span class="text-size">
                Your contact detail is safe with us.   </span>  
       </div>
    
           </div>
                  
          </div>      
    </div>
    </div>
    
    