
<!-- <router-outlet></router-outlet> -->
<!-- <app-tab-layout-on-page></app-tab-layout-on-page>
<app-simple-asset></app-simple-asset> -->
<!-- <app-side-nav></app-side-nav> -->
<!-- <app-asset-verification></app-asset-verification>
<app-accurate-calculation></app-accurate-calculation>
<app-smooth-transition></app-smooth-transition> 
 <app-physical-asset></app-physical-asset>
<app-learn-more></app-learn-more> -->
<!-- <app-success-story [slides]="slides"></app-success-story>    -->
<!-- <app-integrations></app-integrations>
<app-managed-services></app-managed-services> -->
<app-home></app-home>
<app-blogs></app-blogs>
<app-schedule-demo></app-schedule-demo>
<app-technology-process></app-technology-process>