
<router-outlet></router-outlet>

<!-- ////////////////////////////home////////////////// -->
<!-- <app-technology-process></app-technology-process>   -->
<!-- <app-hero-section></app-hero-section> -->
<!-- <app-global-enterprises></app-global-enterprises> -->
<!-- <app-home-page-vedio></app-home-page-vedio> -->
<!-- <app-side-nav></app-side-nav> -->
<!-- <app-casestudies></app-casestudies>  -->


<!-- ///////////////////common comps.//////////////////// -->
<!-- <app-case-studies></app-case-studies> -->
<!-- <app-blogs></app-blogs>  -->
<!-- <app-customer-space></app-customer-space>  -->
<!-- <app-dashboard-navbar></app-dashboard-navbar> -->


<!-- <app-schedule-demo></app-schedule-demo>
<app-algo></app-algo> -->


<app-barcode></app-barcode>
<!-- <app-asset-inventory></app-asset-inventory> -->


<!-- <app-perform-audit></app-perform-audit> -->

