<div class="flex flex-col p-5 h-full">         
    <div class="custom-class justify-between p-5 ">
        <div class=" flex-container content">
            <div class="flex">
                <span class="label ">Join Our Community </span> 
                </div>
         <div class="flex">
           <span class="content-heading heading-data ">  {{dynamicData}}</span> 
           </div>
           <div class="flex ">
                <span class="data content-data mt-4">
                    Transform your asset management with insights gained.
           </span>  
           </div>
           <div >
           <button  class="example-button-row p-3">
            Subscribe
          </button>
          </div>
       </div>
       <div class="flex content">
       <div >
         <div>
           <img src="../../assets/Exampl1.jpg" class="enlarged-image" >
           <!-- "../../assets/Exampl1.jpg"  -->
         </div>
       </div>
       </div>         
      </div>      
</div>

