<app-header-blanding></app-header-blanding>
<div id="content1">
    <p>Get Latest Actionable Insights On <br><br> Fixed Assets Management</p>
</div>
<section id="content2">
      <div id="content4"><img src="assets/image2.PNG" alt=""></div>
      <div id="content3">
        <h3>Name Of The<br><br> Blog Article</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit <br>
            Ea provident rerum perferendis quidem error aut similique <br> quasi quo fugiat quia non
            <br> qui tempore voluptatem iusto labore eum magnam alias odit!</p>
      </div>

</section>
<div style="text-align:center ; background-color: whitesmoke; height: 33px; "  >
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
  </div>
  <section id="content5">
    <div id="div1" >
        <img style="border-radius: 25px; width: 300px; height: 200px;" src="assets/image2.PNG" alt="">
        <h3 style="letter-spacing: 2px; font-weight: 1200; font-size: 30px; font-family: Poppins dark;">Name Of The <br> Blog Article</h3>
        <p style="font-family: Poppins lighter;">Lorem ipsum dolor sit amet consectetur adipisicing elit <br> Dignissimos, quaerat magnam, ipsum tenetur consequatur<br> blanditiis, fugit repellat magni eos mollitia numquam odit<br> vero ratione suscipit quisquam doloremque!</p>
    </div>
    <div id="div2">
        <img style="border-radius: 25px; width: 300px; height: 200px;" src="assets/image2.PNG" alt="">
        <h3 style=" letter-spacing: 2px; font-weight: 1200; font-size: 30px; font-family: Poppins dark;">Name Of The <br> Blog Article</h3>
        <p style="font-family: Poppins lighter;">Lorem ipsum dolor sit amet consectetur adipisicing elit <br> Dignissimos, quaerat magnam, ipsum tenetur consequatur<br> blanditiis, fugit repellat magni eos mollitia numquam odit<br> vero ratione suscipit quisquam doloremque!</p>
    </div>
  </section>
  <section id="content6">
    <div id="div3">
        <img style="border-radius: 25px; width: 300px; height: 200px;" src="assets/image2.PNG" alt="">
        <h3 style="letter-spacing: 2px; font-weight: 1200; font-size: 30px; font-family: Poppins dark;">Name Of The <br> Blog Article</h3>
        <p style="font-family: Poppins lighter;">Lorem ipsum dolor sit amet consectetur adipisicing elit <br> Dignissimos, quaerat magnam, ipsum tenetur consequatur<br> blanditiis, fugit repellat magni eos mollitia numquam odit<br> vero ratione suscipit quisquam doloremque!</p>
    </div>
    <div id="div4">
        <img style="border-radius: 25px; width: 300px; height: 200px;" src="assets/image2.PNG" alt="">
        <h3 style="letter-spacing: 2px; font-weight: 1200; font-size: 30px; font-family: Poppins dark;">Name Of The <br> Blog Article</h3>
        <p style="font-family: Poppins lighter;">Lorem ipsum dolor sit amet consectetur adipisicing elit <br> Dignissimos, quaerat magnam, ipsum tenetur consequatur<br> blanditiis, fugit repellat magni eos mollitia numquam odit<br> vero ratione suscipit quisquam doloremque!</p>
    </div>
  </section>
  <section id="content7">
    <div id="div5">
        <img style="border-radius: 25px; width: 300px; height: 200px;" src="assets/image2.PNG" alt="">
        <h3 style="letter-spacing: 2px; font-weight: 1200; font-size: 30px; font-family: Poppins dark;">Name Of The <br> Blog Article</h3>
        <p style="font-family: Poppins lighter;">Lorem ipsum dolor sit amet consectetur adipisicing elit <br> Dignissimos, quaerat magnam, ipsum tenetur consequatur<br> blanditiis, fugit repellat magni eos mollitia numquam odit<br> vero ratione suscipit quisquam doloremque!</p>
    </div>
    <div id="div6">
        <img style="border-radius: 25px; width: 300px; height: 200px;" src="assets/image2.PNG" alt="">
        <h3 style="letter-spacing: 2px; font-weight: 1200; font-size: 30px; font-family: Poppins dark;">Name Of The <br> Blog Article</h3>
        <p style="font-family: Poppins lighter;">Lorem ipsum dolor sit amet consectetur adipisicing elit <br> Dignissimos, quaerat magnam, ipsum tenetur consequatur<br> blanditiis, fugit repellat magni eos mollitia numquam odit<br> vero ratione suscipit quisquam doloremque!</p>
    </div>
  </section>
  <section id="page">
    <div id="blank">

    </div>
    <div id="aero">
      <span style="margin-right: 7px;" >Page:</span>
      <a id="a" style="letter-spacing: 13px;" href="#">1</a>
      <a id="a" style="letter-spacing: 13px;" href="#">2</a>
      <a id="a" style="letter-spacing: 13px;" href="#">→</a>
    </div>
  </section>
