<!-- <div class="flex flex-col p-5 h-full"> -->
    <div class=" text-center"> 
        <div class=" flex text-center"> 
          <span class="main-header ">Complete<span  class="header ">asset lifecycle tracking</span></span>
        </div>
        <div class=" flex"> 
          <span class="header-data">From procurement to retirement, gain unprecedented visibility and control</span>
        </div>
        </div>
        
        <div class=" custom-class">
          
            <div class="features content text-center ">                    
              <!-- <div>
              <span class="nav-data "><mat-icon>settings</mat-icon>Acceerate Audit Reconcilliation</span>
            </div> -->
              <div>
              <span class="nav-data mt-4"><mat-icon>settings</mat-icon>Tracking Assets with Employees</span>
            </div>
              <div>
                <span class="nav-data mt-4"><mat-icon>settings</mat-icon>Tracking Assets with Employees</span>      
              </div>
                <div>
                  <span class="nav-data mt-4"><mat-icon>settings</mat-icon>Tracking Assets with Employees</span>
                </div>
                  <div>
                    <span class="nav-data mt-4"><mat-icon>settings</mat-icon>Tracking Assets with Employees</span>
                  </div>     
            </div>
            <div class="half  content">
              <!-- <div> -->
              <div class="mt-10">
               <span class="sub-header">Audit Smarter Not Harder</span>
               </div>
               <div >
                <span class="content1">Eliminate manual errors and streamline asset audits.</span> 
                </div> 
               <!-- </div> -->
              <!-- <div >
              <span class="content1">Eliminate manual errors and streamline asset audits.</span> 
              </div>  -->
              <div class="ml-4">     
              <div>
                <li> <span class="data content-data">
                  Leverage mobile tools and robust, cross-system data validation to minimize errors, automate audit processes, and empower more frequent asset audits. </span> </li>
                </div>
                <div>
                <li><span class="data content-data">                    
                  Eliminate time-consuming manual checks and reduce discrepancies for a streamlined audit experience. 
                </span></li></div>    
                
                <div>
                  <li> <span class="data content-data">
                    Uncover ghost assets, identify potential failures, ensure your records reflect reality, confidently meet regulatory requirements, and protect your business against costly compliance issues.. </span> </li>
                  </div>
                  </div>
                  <div class="mt-10">
               <a href="#" class="button ">Learn More →</a>
               </div>
         </div>
          </div>
        <!-- </div> -->
        
        