<app-header></app-header>
<section class="conten">
    <div class="lefter">
        <div class="gain">
            <p class="gain-total">Gain Total Control of Your Assets, from Acquisition to Retirement.</p>
            <p class="gain-total-next">Scalable Fixed Asset Management Built for Global Enterprises.</p>
            <button (click)="goToPage('biotech')">Get a Free Trial Today</button>
        </div>
    </div>
    <div class="try_dem">
      <iframe width="720" height="475" src="https://www.youtube.com/embed/tgbNymZ7vqY?controls=0">
      </iframe>
        <!-- <img [src]="'../assets/img3.jpg'"> -->
        <div class="rating-container">
            <div class="rated-name">Rated</div>
            <div class="star-icon">&#9733;</div> <!-- You can use a different star icon if needed -->
            <div class="rating-points">4.5</div>
            <div class="Dec"><p>on</p></div>
            <div class="image-container">
                <img [src]="'../assets/rating.PNG'">
            </div>
        </div>
    </div>
</section>


<section>
<div class="container">
    <p>Trusted by 150+ Global Enterprises</p>
    <div class="company">
        <div class="company-icon">
            <img [src]="'../assets/company.PNG'">
            <h3>Company</h3>
        </div>
        <div class="company-icon">
            <img [src]="'../assets/company.PNG'">
            <h3>Company</h3>
        </div>
        <div class="company-icon">
            <img [src]="'../assets/company.PNG'">
            <h3>Company</h3>
        </div>
        <div class="company-icon">
            <img [src]="'../assets/company.PNG'">
            <h3>Company</h3>
        </div>
        <div class="company-icon">
            <img [src]="'../assets/company.PNG'">
            <h3>Company</h3>
        </div>
        <div class="company-icon">
            <img [src]="'../assets/company.PNG'">
            <h3>Company</h3>
        </div>
        <div class="company-icon">
            <img [src]="'../assets/company.PNG'">
            <h3>Company</h3>
        </div>
        <div class="company-icon">
            <img [src]="'../assets/company.PNG'">
            <h3>Company</h3>
        </div>
        <div class="company-icon">
            <img [src]="'../assets/company.PNG'">
            <h3>Company</h3>
        </div>
        <div class="company-icon">
            <img [src]="'../assets/company.PNG'">
            <h3>Company</h3>
        </div>
        <div class="company-icon">
            <img [src]="'../assets/company.PNG'">
            <h3>Company</h3>
        </div>
        <div class="company-icon">
            <img [src]="'../assets/company.PNG'">
            <h3>Company</h3>
        </div>
    </div>
</div>
</section>



 <section>
    <div class="tag">
        <div class="tag_line">
            <p>Effortlessly Optimize & Streamline Your Fixed Asset Management.</p>
        </div>
    </div>
<section>
        <div class="custom-slides-container">
          <div class="custom-buttons-container">
            <button class="custom-button" (click)="showCustomFrame(0)">Real-time Tracking</button>
            <button class="custom-button" (click)="showCustomFrame(1)">Mobile Accessibility</button>
            <button class="custom-button" (click)="showCustomFrame(2)">Dashboards</button>
            <button class="custom-button" (click)="showCustomFrame(3)">User Roles</button>
            <button class="custom-button" (click)="showCustomFrame(4)">Audits</button>
            <button class="custom-button" (click)="showCustomFrame(5)">Compliance</button>
            <button class="custom-button" (click)="showCustomFrame(6)">Reporting</button>
          </div>
        </div>
        <div class="custom-frames-container">
          <div id="custom-frame0" class="custom-frame-container active">
            <div class="custom-content">
              <div class="custom-lefter">
                <div class="custom-lain">
                  <p class="custom-lain-total">2 Monitor Assets with Pinpoint Precision.</p>
                  <p class="custom-lain-total-next">We enable real-time asset tracking using RFID, barcode, BLE, and IoT technologies. This allows you to monitor asset locations, status, and movements with exceptional accuracy.</p>
                </div>
              </div>
              <div class="custom-image">
                <img src="../assets/image2.PNG" alt="Image 2">
              </div>
            </div>
          </div>
        <div id="custom-frame1" class="custom-frame-container">
            <div class="custom-content">
                <div class="custom-lefter">
                  <div class="custom-lain">
                    <p class="custom-lain-total">3 Monitor Assets with Pinpoint Precision.</p>
                    <p class="custom-lain-total-next">We enable real-time asset tracking using RFID, barcode, BLE, and IoT technologies. This allows you to monitor asset locations, status, and movements with exceptional accuracy.</p>
                  </div>
                </div>
                <div class="custom-image">
                  <img src="../assets/image2.PNG" alt="Image 2">
                </div>
              </div>
        </div>
        <div id="custom-frame2" class="custom-frame-container">
            <div class="custom-content">
                <div class="custom-lefter">
                  <div class="custom-lain">
                    <p class="custom-lain-total">4 Monitor Assets with Pinpoint Precision.</p>
                    <p class="custom-lain-total-next">We enable real-time asset tracking using RFID, barcode, BLE, and IoT technologies. This allows you to monitor asset locations, status, and movements with exceptional accuracy.</p>
                  </div>
                </div>
                <div class="custom-image">
                  <img src="../assets/image2.PNG" alt="Image 2">
                </div>
              </div>
        </div>
        <div id="custom-frame3" class="custom-frame-container">
            <div class="custom-content">
                <div class="custom-lefter">
                  <div class="custom-lain">
                    <p class="custom-lain-total"> 5 Monitor Assets with Pinpoint Precision.</p>
                    <p class="custom-lain-total-next">We enable real-time asset tracking using RFID, barcode, BLE, and IoT technologies. This allows you to monitor asset locations, status, and movements with exceptional accuracy.</p>
                  </div>
                </div>
                <div class="custom-image">
                  <img src="../assets/image2.PNG" alt="Image 2">
                </div>
              </div>
        </div>
        <div id="custom-frame4" class="custom-frame-container">
            <div class="custom-content">
                <div class="custom-lefter">
                  <div class="custom-lain">
                    <p class="custom-lain-total">6 Monitor Assets with Pinpoint Precision.</p>
                    <p class="custom-lain-total-next">We enable real-time asset tracking using RFID, barcode, BLE, and IoT technologies. This allows you to monitor asset locations, status, and movements with exceptional accuracy.</p>
                  </div>
                </div>
                <div class="custom-image">
                  <img src="../assets/image2.PNG" alt="Image 2">
                </div>
              </div>
        </div>
        <div id="custom-frame5" class="custom-frame-container">
            <div class="custom-content">
                <div class="custom-lefter">
                  <div class="custom-lain">
                    <p class="custom-lain-total">7 Monitor Assets with Pinpoint Precision.</p>
                    <p class="custom-lain-total-next">We enable real-time asset tracking using RFID, barcode, BLE, and IoT technologies. This allows you to monitor asset locations, status, and movements with exceptional accuracy.</p>
                  </div>
                </div>
                <div class="custom-image">
                  <img src="../assets/image2.PNG" alt="Image 2">
                </div>
              </div>
        </div>
        <div id="custom-frame6" class="custom-frame-container">
            <div class="custom-content">
                <div class="custom-lefter">
                  <div class="custom-lain">
                    <p class="custom-lain-total">8 Monitor Assets with Pinpoint Precision.</p>
                    <p class="custom-lain-total-next">We enable real-time asset tracking using RFID, barcode, BLE, and IoT technologies. This allows you to monitor asset locations, status, and movements with exceptional accuracy.</p>
                  </div>
                </div>
                <div class="custom-image">
                  <img src="../assets/image2.PNG" alt="Image 2">
                </div>
              </div>
        </div>
    </div>
</section>
<section>
    <div class="frame_story">
        <div class="item1">
          <iframe width="620" height="425" src="https://www.youtube.com/embed/tgbNymZ7vqY?controls=0">
          </iframe>
        </div>
        <div class="item2">
            <h4>Success Story</h4>
            <p class="story">XYZ Company Has Improved Their Asset Management Exponentially.</p>
            <p class="Success_Story">Provide some context of the testimonial.</p>
        </div>
    </div>
</section>




<section class="marg">
    <div class="tag">
      <div class="tag_line">
        <p>Comprehensive Product Suite to Track, Manage, and Maintain IT & Fixed Assets.</p>
      </div>
    </div>
    <div class="custom-container">
      <div class="custom-nav">
        <button class="custom-nav-button" (click)="showCustomTab(0)" [class.active]="activeTab === 0">AssurAsset</button>
        <button class="custom-nav-button" (click)="showCustomTab(1)" [class.active]="activeTab === 1">DiskoverIT</button>
        <button class="custom-nav-button" (click)="showCustomTab(2)" [class.active]="activeTab === 2">MaintAsset</button>
      </div>
    </div>
    <div class="custom-tabs-container">
      <div id="custom-tab0" class="custom-tab-content" [class.active]="activeTab === 0">
        <div class="custom-contentr">
          <div class="custom-left-section">
            <div class="custom-info">
              <p class="custom-info-total">Flawless Fixed Asset Tracking & Management.</p>
              <p class="custom-info-total-next">Flawless Fixed Asset Tracking & Management.</p>
              <p class="total1">Learn more -></p>
            </div>
          </div>
          <div class="custom-image-section">
            <img src="../assets/image2.PNG" alt="Image 2">
          </div>
        </div>
      </div>
      <div id="custom-tab1" class="custom-tab-content" [class.active]="activeTab === 1">
        <div class="custom-contentr">
            <div class="custom-left-section">
              <div class="custom-info">
                <p class="custom-info-total">2 Flawless Fixed Asset Tracking & Management.</p>
                <p class="custom-info-total-next">Flawless Fixed Asset Tracking & Management.</p>
                <p class="total1">Learn more -></p>
              </div>
            </div>
            <div class="custom-image-section">
              <img src="../assets/image2.PNG" alt="Image 2">
            </div>
          </div>
      </div>
      <div id="custom-tab2" class="custom-tab-content" [class.active]="activeTab === 2">
        <div class="custom-contentr">
            <div class="custom-left-section">
              <div class="custom-info">
                <p class="custom-info-total">3 Flawless Fixed Asset Tracking & Management.</p>
                <p class="custom-info-total-next">Flawless Fixed Asset Tracking & Management.</p>
                <p class="total1">Learn more -></p>
              </div>
            </div>
            <div class="custom-image-section">
              <img src="../assets/image2.PNG" alt="Image 2">
            </div>
          </div>
      </div>
    </div>
  </section>


  <section>
    <div class="frame_stoory">
        <div class="itemm">
            <img [src]="'../assets/image1.png'">
        </div>
        <div class="itemm2">
            <h4>Managed Services</h4>
            <p class="stoory">Complete Assistance in Setting up Your Fixed Asset Operations.</p>
            <p class="Success_Stoory">We’ll help establish your fixed asset management operations from initial setup & implementation to ongoing maintenance and enhancements.</p>
        </div>
    </div>
</section>


 <section class="lag-dv">
    <p>Over 100+ Integrations with Leading ERPs & HRMS.</p>
    <div class="lag-logo">
        <div class="lag-icon">
            <img [src]="'../assets/company.PNG'">
            <h3>Logo</h3>
        </div>
        <div class="lag-icon">
            <img [src]="'../assets/company.PNG'">
            <h3>Logo</h3>
        </div>
        <div class="lag-icon">
            <img [src]="'../assets/company.PNG'">
            <h3>Logo</h3>
        </div>
        <div class="lag-icon">
            <img [src]="'../assets/company.PNG'">
            <h3>Logo</h3>
        </div>
        <div class="lag-icon">
            <img [src]="'../assets/company.PNG'">
            <h3>Logo</h3>
        </div>
        <div class="lag-icon">
            <img [src]="'../assets/company.PNG'">
            <h3>Logo</h3>
        </div>
        <div class="lag-icon">
            <img [src]="'../assets/company.PNG'">
            <h3>Logo</h3>
        </div>
        <div class="lag-icon">
            <img [src]="'../assets/company.PNG'">
            <h3>Logo</h3>
        </div>
        <div class="lag-icon">
            <img [src]="'../assets/company.PNG'">
            <h3>Logo</h3>
        </div>
        <div class="lag-icon">
            <img [src]="'../assets/company.PNG'">
            <h3>Logo</h3>
        </div>
        <div class="lag-icon">
            <img [src]="'../assets/company.PNG'">
            <h3>Logo</h3>
        </div>
        <div class="lag-icon">
            <img [src]="'../assets/company.PNG'">
            <h3>Logo</h3>
        </div>
        <div class="lag-icon">
            <img [src]="'../assets/company.PNG'">
            <h3>Logo</h3>
        </div>
        <div class="lag-icon">
            <img [src]="'../assets/company.PNG'">
            <h3>Logo</h3>
        </div>
        <div class="lag-icon">
            <img [src]="'../assets/company.PNG'">
            <h3>Logo</h3>
        </div>
        <div class="lag-icon">
            <img [src]="'../assets/company.PNG'">
            <h3>Logo</h3>
        </div>
        <div class="lag-icon">
            <img [src]="'../assets/company.PNG'">
            <h3>Logo</h3>
        </div>
        <div class="lag-icon">
            <img [src]="'../assets/company.PNG'">
            <h3>Logo</h3>
        </div>
        <div class="lag-icon">
            <img [src]="'../assets/company.PNG'">
            <h3>Logo</h3>
        </div>
        <div class="lag-icon">
            <img [src]="'../assets/company.PNG'">
            <h3>Logo</h3>
        </div>
    </div>
    <div class="our_log">
    <p>Check All Our Integrations --> </p>
</div>
 </section>


<section>
    <div class="servele">
        <p>Solutions for Any Industry With Fixed Assets</p>
    </div>
    <div class="servel">
      <div class="fig-button-container" id="buttonContainer">
        <button class="fig-button" (click)="showContent(1)" [class.active]="activeButton === 1">Biotech</button>
        <button class="fig-button" (click)="showContent(2)" [class.active]="activeButton === 2">IT</button>
        <button class="fig-button" (click)="showContent(3)" [class.active]="activeButton === 3">Finance</button>
        <button class="fig-button" (click)="showContent(4)" [class.active]="activeButton === 4">Engineering</button>
        <button class="fig-button" (click)="showContent(5)" [class.active]="activeButton === 5">Automobile</button>
        <button class="fig-button" (click)="showContent(6)" [class.active]="activeButton === 6">Healthcare</button>
        <button class="fig-button" (click)="showContent(7)" [class.active]="activeButton === 7">Logistics</button>
        <button class="fig-button" (click)="showContent(8)" [class.active]="activeButton === 8">Real Estate</button>
      </div>
      <div class="fig-content-container" id="contentContainer">
        <div class="fig-dummy-text">
          <h2>{{ contentTitle }}</h2>
          <p>{{ contentDescription }}</p>
        </div>
        <img src="../assets/image2.PNG" alt="Dummy Image">
      </div>
    </div>
  </section>



<section class="testimonial-slider">
  <h1>Happy Customers From Multiple Industries</h1>
  <div class="comma">
    <img  id="i111" src="../assets/Quote1.png" alt="">
  </div>
  <div class="testimonial-container">
    <div class="testimonial-item">
      <div class="testimonial-text">
        <div class="testimonial-slideshow-container slides">
          <div class="testimonial-slide slide" [ngClass]="testimonials[testimonialIndex].class">
              <p class="testimonial-content">{{ testimonials[testimonialIndex].content }}</p>
             </div>
             <div style="display:flex; position:absolute;right:0;bottom:-20%;">
              <img [src]="testimonials[testimonialIndex].image" [alt]="'Slide ' + (testimonialIndex + 1)" />
             <div>
            <p class="testimonial-name">{{ testimonials[testimonialIndex].name }}</p>
            <p class="testimonial-position">{{ testimonials[testimonialIndex].position }}</p>
          </div>
          </div>
          </div>
          </div>
        </div>
      </div>
  <div class="testimonial-dot-container">
    <input type="radio" name="testimonial-dot" class="testimonial-dot" [id]="'dot' + (i + 1)"
    [checked]="i === testimonialIndex" *ngFor="let dot of dots; let i = index" (change)="changeTestimonial(i)">
  </div>
</section>



<section class="frame_1">
    <div class="f1_gain">
        <p class="total">Get Latest Insights</p>
        <p class="f1_gain-total">Join Our Thriving Community of Asset Managers, Financial Controllers, and CFOs.</p>
        <p class="f1_gain-total-next">The world of asset management evolves everyday with complex assets joining the fray everyday.<br><br> Be part of our community where we discuss latest news, trends, & insights in asset management.</p>
        <p class="total1">Join Today -></p>
    </div>
    <div class="image">
      <iframe width="670" height="475" src="https://www.youtube.com/embed/tgbNymZ7vqY?controls=0">
      </iframe>
    </div>
</section>
<div class="book_demo">
    <div class="book_demo-h">
      <h1>Take your Asset Management to New Heights. Start Your Journey Today.</h1>
      <div class="button-book_demo">
        <a href="#" class="butt1">Try for Free</a>
        <a href="#" class="butt2">Book a Demo</a>
      </div>
    </div>
</div>


