<div class="flex flex-col p-2 h-full background">
    <!-- <nav class="nav nav a nav a.active">
        <a routerLink="/home" routerLinkActive="active" >Home</a>
        <a routerLink="/about-us" routerLinkActive="active">About Us</a>
        <a routerLink="/contact-us" routerLinkActive="active">Contact Us</a>
    </nav> -->
    
    <!-- <nav class="nav">
       
        <a routerLink="/home" routerLinkActive="active">product</a>
        <a routerLink="/about-us" routerLinkActive="active">solutions</a>
        <a routerLink="/contact-us" routerLinkActive="active">pricing</a>
        <a routerLink="/contact-us" routerLinkActive="active">Resources</a>
        <a routerLink="/contact-us" routerLinkActive="active">About Us</a>
          <button  class="example-button-row p-3">
           Subscribe
         </button>
        
    
    
    </nav> -->
    
    <div class="flex flex-col p-5 h-full mt-2">         
        <div class="custom-class justify-between  ">
            <div class=" flex-container content">
             <div class="flex">
              
               <span class="content-heading heading-data ">Barcode-based Asset Tracking </span> 
               </div>
    
               <div class="flex mt-4 ">
                
                    <li><span class="data content-data">
                        Barcodes offer a tried-and-true solution for accurate asset identification and tracking. </span></li></div>
                      <div>  <li><span class="data content-data">
                        They improve data integrity, support real-time asset location updates, and reduce the potential for human error during manual audits. </span>  </li></div>
                      <div>  <li><span class="data content-data"> Barcode technology is cost-effective and easy to implement within your operations.
               </span>  </li></div>

               <div class="mt-7"> <a href="#" class="button  ">Learn More →</a>       </div>
    
           </div>
           <div class="flex content1">
           <div >
             <div>
               <img src="../../assets/barcodebased.svg" class="enlarged-image" >
    
               <!-- "../../assets/Exampl1.jpg"  -->
             </div>
           </div>
           </div>         
          </div>      
    
          
        <div class="custom-class justify-between mt-2 ">

            <div class="flex content1">
                <div >
                  <div>
                    <img src="../../assets/rfid2.svg" class="enlarged-image" >
         
                   
                  </div>
                </div>
                </div>  

            <div class=" flex-container content">
             <div class="flex">
              
               <span class="content-heading heading-data"> RFID-based Asset Tracking </span> 
               </div>
    
              
               <div class="flex mt-4 ">
                
                <li><span class="data content-data">
                    RFID empowers rapid, automated asset audits, especially for large inventories or remote assets.  </span></li></div>
                  <div>  <li><span class="data content-data">
                    Bulk scanning capabilities drastically reduce audit timescales while promoting real-time asset visibility.  </span>  </li></div>
                  <div>  <li><span class="data content-data"> RFID tags can store comprehensive asset information, enhancing maintenance management, asset lifecycle tracking, and regulatory compliance.
           </span>  </li></div>  

           <div class="mt-7"> <a href="#" class="button  ">Learn More →</a>       </div>
           </div>
                 
          </div>      
    </div>
</div>

    

    
    