<footer>
  <div class="footer-content">
      <div class="footer-section">
          <h3>Product</h3>
          <ul>
              <li>AssurAsset</li>
              <li>DiskoverIT</li>
              <li>maintAsset</li>
              <li>Managed Services</li>
          </ul>
      </div>

      <div class="footer-section">
          <h3>Solutions</h3>
          <ul>
              <li>Pharma</li>
              <li>EdTech</li>
              <li>IT</li>
              <li>Healthcare</li>
              <li>Engineering</li>
              <li>Ecommerce</li>
          </ul>
      </div>

      <div class="footer-section">
          <h3>Resources</h3>
          <ul>
              <li>Case Studies</li>
              <li>Whitepapers</li>
              <li>Blog</li>
              <li>Glossary</li>
              <li>Integrations</li>
              <li>Success Stories</li>
          </ul>
      </div>

      <div class="footer-section">
          <h3>About Us</h3>
          <ul>
              <li>About Us</li>
              <li>Our Team</li>
              <li>Careers</li>
          </ul>
      </div>

      <div class="footer-section">
          <h3>Support</h3>
          <ul>
              <li>Support Docs</li>
              <li>FAQs</li><br>
              <h3>Privacy</h3>
              <li>Privacy Policy</li>
              <li>GDPR Policy</li>
          </ul>
      </div>
  </div>

  <div class="follow-us">
      <h2>Follow Us</h2>
      <i class="fa fa-facebook"></i>
      <i class="fa fa-twitter"></i>
      <i class="fa fa-linkedin"></i>
      <i class="fa fa-instagram"></i>
      <i class="fa fa-youtube"></i>
  </div>
  <div class="footer-copyright">
      &copy; 2023 AssetCues INC. All rights reserved.
  </div>
</footer>
