<div class="container custom-class">
  
    <div class="features content">
      <span class="nav-header">Features</span>
     <p class="mt-5"> 
      <mat-icon class="mat-icon">verified_user</mat-icon>  
       Efficient Asset Audits <br> <br> <br>
       
       Acceerate Audit Reconcilliation <br> <br> <br>
        
       Tracking Assets with Employees <br> <br> <br>
       
       Tracking Assets with Vendors <br> <br> <br>
       
       Manage Transfer and Disposals <br> <br> <br>
       
       Automaye Check-in, Check-outs <br> <br> <br>
       
       Manage Asset through Lifecycle
       
       
     </p>
    </div>
    <div class="half  content">
      
       <span class="header">Flawless Fixed Asset Tracking & Management</span>
      
      <p class="content1">Track, manage, and optimize your fixed assets with precision and ease</p> <br>
      
       <a href="#" class="button mt-10">Learn More →</a>
 </div>
  </div>


