<div class="flex flex-col p-5 h-full"> 
    <div class="ml-8">
   <span class="content-heading heading-data "> Blogs </span> 
   </div>    
   <!-- <div class="ml-8 mt-4">
   <span class="label ">Find All Case Studies →</span>
 </div> -->
     <div class="custom-class justify-between  ">
         <div class=" flex-container content p-5">
 
         <div class="content2  add-shadow ">
           
           <div>
            <img src="../../assets/Exampl1.jpg" class="enlarged-image" >
 
          </div> 
          <div class="p-5 bg-black">
            <!-- <span class="content-heading heading-data ">{{ dynamicData }} </span>  -->
            <span class="data content-data ">lorem ipsum</span> 
           <div>
               <span class="content-heading heading-data2">
                 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                </span>    
                </div>  
                <div class="mt-7">
                 <span class="label ">Read more →</span>
               </div>               
            </div>
            </div>
        </div>
        <div class=" flex-container content p-5">
 
            <div class="content2  add-shadow ">
              
              <div>
               <img src="../../assets/Exampl1.jpg" class="enlarged-image" >
    
             </div> 
             <div class="p-5 bg-black">
               <!-- <span class="content-heading heading-data ">{{ dynamicData }} </span>  -->
               <span class="data content-data ">lorem ipsum</span> 
              <div>
                  <span class="content-heading heading-data2">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                   </span>    
                   </div>  
                   <div class="mt-7">
                    <span class="label ">Read more →</span>
                  </div>               
               </div>
               </div>
           </div>
           <div class=" flex-container content p-5">
 
            <div class="content2  add-shadow ">              
              <div>
               <img src="../../assets/Exampl1.jpg" class="enlarged-image" >
    
             </div> 
             <div class="p-5 bg-black">
               <!-- <span class="content-heading heading-data ">{{ dynamicData }} </span>  -->
               <span class="data content-data ">lorem ipsum</span> 
              <div>
                  <span class="content-heading heading-data2">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                   </span>    
                   </div>  
                   <div class="mt-7">
                    <span class="label ">Read more →</span>
                  </div>               
               </div>
               </div>
           </div>  
       </div>
       
       
 </div>
 
 