<div class="flex flex-col p-5 h-full"> 
    <div class="ml-5 text-center">
   <span class="content-heading heading-data ">Asset Inventory Management System</span>
   </div>    
   <div class="ml-5 text-center">
   <span class="data1 content-data">Our solution covers all your asset tracking needs, ensuring no asset is overlooked</span>
 </div>
     <div class="custom-class justify-between  ">
         <div class=" flex-container content p-5">
 
         <div class="content2 ">

            <div >
                <!-- <span class="content-heading heading-data ">{{ dynamicData }} </span>  -->
                <span class="data content-data  ml-20 p-3">Machines</span> 
                            
                </div>
           
           <div>
            <img src="../../assets/machines.svg" class="enlarged-image" >
 
          </div> 
          
            </div>
        </div>
        <div class=" flex-container content p-5">
 
            <div class="content2 ">
   
               <div >
                   <!-- <span class="content-heading heading-data ">{{ dynamicData }} </span>  -->
                   <span class="data content-data  ml-20 p-3">IT Assets</span> 
                               
                   </div>
              
              <div>
               <img src="../../assets/image.svg" class="enlarged-image" >
    
             </div> 
             
               </div>
           </div>
           <div class=" flex-container content p-5">

 
            <div class="content2 ">
   
               <div >
                   <!-- <span class="content-heading heading-data ">{{ dynamicData }} </span>  -->
                   <span class="data content-data  ml-20 p-3">Facility (Admin) Assets</span> 
                               
                   </div>
              
              <div>
               <img src="../../assets/facilityasset.svg" class="enlarged-image" >
    
             </div> 
             

              
             

               </div>
           </div> 
           <div class=" flex-container content p-5 ">
 
            <div class="content2 ">
   
               <div >
                   <!-- <span class="content-heading heading-data ">{{ dynamicData }} </span>  -->
                   <span class="data content-data  ml-20 p-3">Tools</span> 
                               
                   </div>
              
              <div>
               <img src="../../assets/tools.svg" class="enlarged-image" >
    
             </div> 
             
               </div>
           </div>
       </div>
       
       <div class="custom-class justify-between  ">
        <div class=" flex-container content p-5">

        <div class="content2 ">

           <div >
               <!-- <span class="content-heading heading-data ">{{ dynamicData }} </span>  -->
               <span class="data content-data  ml-20 p-3">Equipment</span> 
                           
               </div>
          
          <div>
           <img src="../../assets/equipment.svg" class="enlarged-image" >

         </div> 
         
           </div>
       </div>
       <div class=" flex-container content p-5">

           <div class="content2 ">
  
              <div >
                  <!-- <span class="content-heading heading-data ">{{ dynamicData }} </span>  -->
                  <span class="data content-data  ml-20 p-4">Vehicles</span> 
                              
                  </div>
             
             <div>
              <img src="../../assets/vechicles.svg" class="enlarged-image" >
   
            </div> 
            
              </div>
          </div>
          <div class=" flex-container content p-5">

           <div class="content2 ">
  
              <div >
                  <!-- <span class="content-heading heading-data ">{{ dynamicData }} </span>  -->
                  <span class="data content-data  ml-20 p-3">Land and Building</span> 
                              
                  </div>
             
             <div>
              <img src="../../assets/land.svg" class="enlarged-image" >
   
            </div> 
            
              </div>
          </div> 
          <div class=" flex-container content p-5">

           <div class="content2 ">
  
              <div >
                  <!-- <span class="content-heading heading-data ">{{ dynamicData }} </span>  -->
                  <span class="data content-data  ml-20 p-3">Intangible Assets</span> 
                              
                  </div>
             
             <div>
              <img src="../../assets/intangibleasset.svg" class="enlarged-image" >
   
            </div> 
            
              </div>
          </div>
      </div>

 </div>
 
 