<div class="flex flex-col justify-center items-center background  mt-8 ">
 
    <div class="content1 -mt-8 ">
        <span  class=" heading-data1">Leave the Transition to Us</span>
        <div >
        <span  class="content-heading heading-data  ml-4">Optimize Asset Tracking with RFID Power</span>
        </div>
        <div>
            <span class=" heading-data1">Leave the Transition to Us</span>
            </div>
    </div>
     
    <div class="content2 mt-5 ">
        <div>
        <div >
        <span  class="data1 content-data ml-4">Audit at the Speed of Business</span>
        </div>    
        <span  class="data content-data ml-4 ">Conduct audits with minimal manual effort, maximizing accuracy and minimizing disruptions by 90%
        </span>
        </div>
        <div >
            <span  class="data1 content-data ml-4">Effortless Check-In/Check-Out</span>
            </div> 
            <span  class="data content-data ml-4">Track asset movements in real-time, ensuring assets are always where they're needed
            </span>
   
            <div >
                <span  class="data1 content-data ml-4">Track Assets Through Walls</span>
                </div> 
                <span  class="data content-data ml-4">Locate assets across rooms, floors, or even across facilities with long-range RFID capabilities</span>
             
                <div >
                    <span  class="data1 content-data ml-4">Uncover Hidden Assets and Prevent Loss</span>
                    </div> 
                    <span  class="data content-data ml-4">Get an unparalleled view of asset inventory and proactively address potential issues.</span>
    
                    <div >
                        <span  class="data1 content-data ml-4">Save Time and Resources</span>
                        </div> 
                        <span  class="data content-data ml-4">Free your staff from tedious tracking tasks, focusing their efforts on higher-value activities</span>

                        <div >
                            <span  class="data1 content-data ml-4">Make Smarter Decisions</span>
                            </div> 
                            <span  class="data content-data ml-4">Gain actionable asset data to drive cost savings, resource optimization, and informed strategic planning</span>
            </div>
    </div>
  



