<div class="flex flex-col p-5 h-full"> 
    <div class="text-center mt-4">
   <span class="content-heading heading-data  ">The only software you need to transform </span> 
   </div>    
   <div class=" text-center mt-4">
   <span class="label ">Fixed Assets Tracking</span>
 </div>
 <div class=" image-flex1  mt-14">
    <div  class="content2">               
        <img src="../../assets/youtube.svg" class="enlarged-image" > 
     </div> 
 </div> 
<div class=" last-flex mt-24"> 
   <div> 
 <div class="small-content">
<div class="text-center mt-4">
<span>4.8/5</span></div>
<div class="text-center mt-4">
<span>capterra</span></div>
 </div>
 </div>


 <div class="vertical-line">
 <!-- <div class="small-content"> -->
    <div class="text-center mt-4 ">
    <span>200+</span></div>
    <div class="text-center mt-4">
    <span>happy cutsomers</span></div>
 <!-- </div> -->

 </div>

 <div class="vertical-line">
 <!-- <div class="small-content"> -->
    <div class="text-center mt-4">
    <span>4 Million+</span></div>
    <div class="text-center mt-4">
    <span>Assets Tracked</span></div>
    <!-- </div> -->
 </div>

 <div class="vertical-line">
 <!-- <div class="small-content"> -->
    <div class="text-center mt-4">
    <span>15+</span></div>
    <div class="text-center mt-4">
    <span>Years of Experience</span></div>
 <!-- </div> -->
</div>

 <div class="vertical-line">
 <!-- <div class="small-content"> -->
    <div class="text-center mt-4">
    <span>18+</span></div>
    <div class="text-center mt-4">
    <span>Countries, where Used</span> 
</div>
<!-- </div> -->
 </div>

 </div>
 </div>
 