<header>
    <div class="checker">
        <div class="logo-container">
            <img src="../assets/logo.png" alt="Logo" class="logo">
            <div class="site_name">
                <p>assetcues</p>
            </div>
        </div>
        <div class="nav">
            <a href="#/product" class="header-link">
                <button class="header-button">Product</button>
            </a>
            <a href="#/solutions" class="header-link">
                <button class="header-button">Industries</button>
            </a>
            <a href="#/pricing" class="header-link">
                <button class="header-button">Pricing</button>
            </a>
            <a href="#/resources" class="header-link">
                <button class="header-button">Resources</button>
            </a>
            <a href="#/about" class="header-link">
                <button class="header-button">About Us</button>
            </a>
        </div>
        <div class="buttons">
            <a href="#/signin" class="header-link">
                <button class="header-button sign-in">Sign In</button>
            </a>
            <a href="#/try_for_free" class="header-link">
                <button class="header-button try_for_free">Book a Demo</button>
            </a>
        </div>
    </div>
</header>