<header>
    <div class="logo">
        <a href="#/">
            <!-- <img src="assets/logo.png" alt=""> -->
            <img src="" alt="">
            <p class="site_name">assetcues</p>
        </a>
    </div>
    <div class="nav">
        <a href="#/product">
            <button class="header-button">Product</button>
        </a>
        <a href="#/solutions">
            <button class="header-button">Industries</button>
        </a>
        <a href="#/pricing">
            <button class="header-button">Pricing</button>
        </a>
        <a href="#/resources">
            <button class="header-button">Resources</button>
        </a>
        <a href="#/about">
            <button class="header-button">About Us</button>
        </a>
    </div>
    <div class="buttons">
        <a href="#/signin">
            <button class="header-button sign-in">Sign In</button>
        </a>
        <a href="#/try_for_free">
            <button class="header-button try_for_free">Try For Free</button>
        </a>
    </div>
</header>
